.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/01_Experiment_generic-checkpoint.ipynb
.ipynb_checkpoints/.gitignore-checkpoint
.ipynb_checkpoints/train-checkpoint.py
.ipynb_checkpoints/02_Experiment_list_experiments-checkpoint.ipynb
.ipynb_checkpoints/03_Experiment_multiple_experiments_chart-checkpoint.ipynb
.ipynb_checkpoints/04_train_model_sdk_sklearn_linear-checkpoint.ipynb
JOBLIBS/model.joblib
MODELS_TAR_GZ/model.tar.gz
.ipynb_checkpoints/06_Inference_Iris-checkpoint.ipynb
.ipynb_checkpoints/.ipynb_checkpoints/05_Register_Iris-checkpoint-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/001_Prepare_Data-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/000_Clean_everything-checkpoint.ipynb
.ipynb_checkpoints/001_Prepare_Data-checkpoint.ipynb
.ipynb_checkpoints/05_Register_Iris-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/002_Train_Model-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/003_Deploy_Infer_101_1-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/004_Deploy_Infer_101_2-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/003_Model_inference-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/004_Register_model-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/.ipynb_checkpoints/002_Train_Model_normal-checkpoint-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/.ipynb_checkpoints/002_Train_Model_nor-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/002_Train_Model_nor.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/002_Train_Model_normal-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/003_Train_Model_sagemaker-checkpoint.ipynb
01_Iris_simple_e2e/model/xgboost_normal.json
01_Iris_simple_e2e/data/iris_column_names.csv
01_Iris_simple_e2e/data/iris_infer.csv
01_Iris_simple_e2e/data/iris_infer_pred_normal.csv
01_Iris_simple_e2e/data/iris_test.csv
01_Iris_simple_e2e/data/iris_train.csv
01_Iris_simple_e2e/model/model.tar.gz
01_Iris_simple_e2e/model/xgboost-model
02_wine_mlflow_e2e/.ipynb_checkpoints/005_Register_model-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/003_Train_Model_sagemaker-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/002_Train_Model_normal-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/004_Model_inference-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/000_Clean_everything-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/001_Prepare_Data-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/005_Register_model-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/004_Model_inference-checkpoint.ipynb
**/*.csv
**/*.png
**/*.pkl
03_mlflow_deployment/.ipynb_checkpoints/01_mlflow_deployment-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/02_SIMPLE_TREE-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/01_PREPARE_IRIS_DATA-checkpoint.ipynb
TRAINING_JOBS/training_code_02/train.py
03_mlflow_deployment/training_code/train.py
03_mlflow_deployment/training_code/requirements.txt
train.py
TRAINING_JOBS/.ipynb_checkpoints/04_SIMPLE_XGBOOST-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/03_SIMPLE_LOGISTIC_REGRESSION-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/05_XGBOOST_WITH_HYPERPARAMS-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/06_XGBOOST_WITH_METRICS-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/07_GENERIC_ESTIMATOR-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/06_SAVE_ARTIFACTS-checkpoint.ipynb
03_mlflow_deployment/.ipynb_checkpoints/01_mlflow_deployment-Copy1-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/003_Register_model-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/_004_Model_inference-checkpoint.ipynb
TRAINING_JOBS/training_code_03/start_file.py
TRAINING_JOBS/.ipynb_checkpoints/08_EVIRONMENT_VARIABLES-checkpoint.ipynb
DEPLOYMENT/01_manual_prediction/model.tar.gz
DEPLOYMENT/01_manual_prediction/model.xgb
DEPLOYMENT/.ipynb_checkpoints/Untitled-checkpoint.ipynb
DEPLOYMENT/.ipynb_checkpoints/04_Batch_inference_xgboost_from_created_model-checkpoint.ipynb
DEPLOYMENT/.ipynb_checkpoints/03_Create_model_xgboost-checkpoint.ipynb
DEPLOYMENT/.ipynb_checkpoints/02_Batch_inference_xgboost-checkpoint.ipynb
DEPLOYMENT/.ipynb_checkpoints/01_Manual_batch_inference_xgboost-checkpoint.ipynb
DEPLOYMENT/.ipynb_checkpoints/05_Online_inference_xgboost_from_created_model-checkpoint.ipynb
DEPLOYMENT/.ipynb_checkpoints/10_Online_inference_xgboost_from_created_model-checkpoint.ipynb
DEPLOYMENT/.ipynb_checkpoints/09_Batch_inference_logistic_from_created_model-checkpoint.ipynb
DEPLOYMENT/.ipynb_checkpoints/08_Create_model_logistic-checkpoint.ipynb
DEPLOYMENT/.ipynb_checkpoints/07_Batch_inference_logistic-checkpoint.ipynb
DEPLOYMENT/.ipynb_checkpoints/06_Manual_batch_inference_logistic-checkpoint.ipynb
DEPLOYMENT/06_manual_prediction/model.joblib
DEPLOYMENT/06_manual_prediction/model.tar.gz
DEPLOYMENT/07_batch_inference/start_file.py
EXPERIMENTS/.ipynb_checkpoints/01_autolog-checkpoint.ipynb
EXPERIMENTS/.ipynb_checkpoints/02_manual_log-checkpoint.ipynb
EXPERIMENTS/.ipynb_checkpoints/05_log_chart-checkpoint.ipynb
EXPERIMENTS/.ipynb_checkpoints/06_nested_run-checkpoint.ipynb
EXPERIMENTS/.ipynb_checkpoints/04_evaluate-checkpoint.ipynb
EXPERIMENTS/.ipynb_checkpoints/03_log_data-checkpoint.ipynb
EXPERIMENTS/.ipynb_checkpoints/07_get_runs-checkpoint.ipynb
REGISTER/requirements.txt
REGISTER/model.tar.gz
REGISTER/=2.215.0
REGISTER/.ipynb_checkpoints/01_registrer_mlflow-checkpoint.ipynb
REGISTER/.ipynb_checkpoints/02_load_model_pyfunc-checkpoint.ipynb
REGISTER/.ipynb_checkpoints/03_batch_inference-checkpoint.ipynb
REGISTER/.ipynb_checkpoints/04_batch_inference-checkpoint.ipynb
PROCESSING/03_framework_processor/sourcedir.tar.gz
PROCESSING/03_framework_processor/requirements.txt
PROCESSING/03_framework_processor/process_data.py
PROCESSING/03_framework_processor/framework_processor.tar.gz
PROCESSING/01_simple_processing/create_text_file.py
PROCESSING/02_input_output/process_data.py
.ipynb_checkpoints/Definitions-checkpoint.txt
REGISTER/01_training_code/requirements.txt
PROCESSING/.ipynb_checkpoints/03_Framework_processor-checkpoint.ipynb
PROCESSING/.ipynb_checkpoints/02_Script_processor_with_input_and_output-checkpoint.ipynb
PROCESSING/.ipynb_checkpoints/01_Simple_script_processor-checkpoint.ipynb
PIPELINES/05_full_pipeline/processing.py
PIPELINES/05_full_pipeline/start_file.py
REGISTER/03_training_code/inference.py
STEP_FUNCTION/.ipynb_checkpoints/01_simple_processing-checkpoint.ipynb
STEP_FUNCTION/.ipynb_checkpoints/02_simple_training_xgboost-checkpoint.json
STEP_FUNCTION/.ipynb_checkpoints/02_simple_training_xgboost-checkpoint.ipynb
STEP_FUNCTION/.ipynb_checkpoints/01_simple_processing-checkpoint.json
PIPELINES/03_create_model/start_file.py
PIPELINES/01_simple_processing_pipeline/processing.py
PIPELINES/.ipynb_checkpoints/05_Full_pipeline-checkpoint.ipynb
PIPELINES/.ipynb_checkpoints/04_simple_batch_inference_pipeline-checkpoint.ipynb
PIPELINES/.ipynb_checkpoints/03_simple_create_model_pipeline-checkpoint.ipynb
PIPELINES/.ipynb_checkpoints/02_simple_training_pipeline-checkpoint.ipynb
PIPELINES/.ipynb_checkpoints/01_simple_processing_pipeline-checkpoint.ipynb
