.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/01_Experiment_generic-checkpoint.ipynb
.ipynb_checkpoints/.gitignore-checkpoint
.ipynb_checkpoints/train-checkpoint.py
.ipynb_checkpoints/02_Experiment_list_experiments-checkpoint.ipynb
.ipynb_checkpoints/03_Experiment_multiple_experiments_chart-checkpoint.ipynb
.ipynb_checkpoints/04_train_model_sdk_sklearn_linear-checkpoint.ipynb
JOBLIBS/model.joblib
MODELS_TAR_GZ/model.tar.gz
.ipynb_checkpoints/06_Inference_Iris-checkpoint.ipynb
.ipynb_checkpoints/.ipynb_checkpoints/05_Register_Iris-checkpoint-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/001_Prepare_Data-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/000_Clean_everything-checkpoint.ipynb
.ipynb_checkpoints/001_Prepare_Data-checkpoint.ipynb
.ipynb_checkpoints/05_Register_Iris-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/002_Train_Model-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/003_Deploy_Infer_101_1-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/004_Deploy_Infer_101_2-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/003_Model_inference-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/004_Register_model-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/.ipynb_checkpoints/002_Train_Model_normal-checkpoint-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/.ipynb_checkpoints/002_Train_Model_nor-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/002_Train_Model_nor.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/002_Train_Model_normal-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/003_Train_Model_sagemaker-checkpoint.ipynb
01_Iris_simple_e2e/model/xgboost_normal.json
01_Iris_simple_e2e/data/iris_column_names.csv
01_Iris_simple_e2e/data/iris_infer.csv
01_Iris_simple_e2e/data/iris_infer_pred_normal.csv
01_Iris_simple_e2e/data/iris_test.csv
01_Iris_simple_e2e/data/iris_train.csv
01_Iris_simple_e2e/model/model.tar.gz
01_Iris_simple_e2e/model/xgboost-model
02_wine_mlflow_e2e/.ipynb_checkpoints/005_Register_model-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/003_Train_Model_sagemaker-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/002_Train_Model_normal-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/004_Model_inference-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/000_Clean_everything-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/001_Prepare_Data-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/005_Register_model-checkpoint.ipynb
01_Iris_simple_e2e/.ipynb_checkpoints/004_Model_inference-checkpoint.ipynb
**/*.csv
**/*.png
**/*.pkl
03_mlflow_deployment/.ipynb_checkpoints/01_mlflow_deployment-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/02_SIMPLE_TREE-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/01_PREPARE_IRIS_DATA-checkpoint.ipynb
TRAINING_JOBS/training_code_02/train.py
03_mlflow_deployment/training_code/train.py
03_mlflow_deployment/training_code/requirements.txt
train.py
TRAINING_JOBS/.ipynb_checkpoints/04_SIMPLE_XGBOOST-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/03_SIMPLE_LOGISTIC_REGRESSION-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/05_XGBOOST_WITH_HYPERPARAMS-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/06_XGBOOST_WITH_METRICS-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/07_GENERIC_ESTIMATOR-checkpoint.ipynb
TRAINING_JOBS/.ipynb_checkpoints/06_SAVE_ARTIFACTS-checkpoint.ipynb
03_mlflow_deployment/.ipynb_checkpoints/01_mlflow_deployment-Copy1-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/003_Register_model-checkpoint.ipynb
02_wine_mlflow_e2e/.ipynb_checkpoints/_004_Model_inference-checkpoint.ipynb
TRAINING_JOBS/training_code_03/start_file.py
TRAINING_JOBS/.ipynb_checkpoints/08_EVIRONMENT_VARIABLES-checkpoint.ipynb
